/*------------------------------------- IMPORTS -------------------------------------*/
/*------------------------------------- FUENTES ---------------------------------------*/
* {
  font-family: 'Nunito', sans-serif; }

@keyframes cambio {
  0% {
    margin-left: 0; }
  25% {
    margin-left: 0; }
  30% {
    margin-left: -100%; }
  50% {
    margin-left: -100%; }
  75% {
    margin-left: -200%; }
  100% {
    margin-left: -200%; } }

/*------------------------------------- COLORES -------------------------------------*/
/*------------------------------ COLORES ------------------------------*/
/*---------------- HOVERS -------------------- */
@media (hover: hover) {
  .nav-item:hover {
    transform: scale(1.001); }
  .dropdown-item:hover {
    background-color: #596E79;
    border: 3px solid black;
    transform: scale(1.02); }
  .col-lg-6:hover, .card:hover, .logo:hover {
    transform: scale(1.02);
    transition-duration: inherit; }
  .contacto__lema:hover #maison {
    visibility: visible; }
  .form-group:hover {
    transform: scale(1.05);
    transition: all; }
  .navbar-toggler:hover {
    border: 3px solid black;
    transform: scale(1.2); }
  .carrito-text:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transition-duration: 6s; }
  .button:hover {
    transform: scale(1.4);
    transition-duration: 0s;
    border: 3px solid #F0ECE3; } }

/*------------------------------------- MEDIA Q -------------------------------------*/
@media (min-width: 992px) {
  .logo {
    width: 12%; }
  .card {
    height: 40em; }
  .carrito {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center; } }

@media (min-width: 574px) {
  .imgIndex2 {
    margin: 5%; }
  .card__tittle {
    margin-bottom: 2%; }
  .index__card {
    height: 490px;
    margin: 5%; }
  .row {
    display: flex;
    justify-content: center;
    align-items: center; } }

/*-------------------------------------HEAD-------------------------------------*/
.navbar {
  background-color: #596E79;
  position: relative; }

.navbar-toggler {
  background-color: #fff; }

.navbar-brand {
  width: 60%; }

.offcanvas-body {
  color: #F0ECE3;
  background-color: #F0ECE3; }

.offcanvas-header {
  color: #F0ECE3;
  background-color: #596E79; }

.dropdown-menu {
  background-color: #DDDDDD;
  border: 1.2px solid black; }

.nav-item {
  font-weight: 1700;
  background-color: #596E79;
  border: 1px solid black;
  border-radius: 1%;
  padding: 2.5%;
  margin: 1.3%; }

.nav-link {
  color: #F0ECE3 !important; }

/*------------------------------------- LOGO -------------------------------------*/
.logo {
  width: 20%; }

/*------------------------------------- INDEX -------------------------------------*/
.index__titulo {
  background-color: #2a323b3a;
  color: #F0ECE3;
  height: 3.0em;
  padding: 2%;
  border: 2px solid black;
  border-radius: 1%;
  margin-top: 1%;
  margin-bottom: 1%; }

/*-----------------CARROUSSEL--------------------*/
.carrousell__container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  background-color: #596E79;
  padding: 2%; }
  .carrousell__container ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 20s infinite;
    animation-direction: alternate; }
  .carrousell__container li {
    width: 100%;
    list-style: none; }
  .carrousell__container img {
    margin: 3%;
    width: 35%;
    border-radius: 2%;
    border: 1px solid black;
    box-shadow: 5px 8px 12px black; }
  .carrousell__container .index__button {
    background-color: #F0ECE3;
    color: black;
    height: 100%; }
  .carrousell__container .button {
    background-color: #F0ECE3;
    color: #596E79;
    font-size: 1.2rem;
    margin: 3%; }

/*-----------------CARD INDEX--------------------*/
.aside_container {
  background-color: #F0ECE3;
  padding: 2%; }

.card__text {
  padding: 2%;
  margin: 2%;
  color: #596E79; }

.card__row {
  --bs-gutter-x:0; }

/*------------------------------------- PRODUCTOS -------------------------------------*/
.row {
  margin-left: 5%;
  --bs-gutter-x:0; }

.subtitulos {
  background-color: #596E79;
  color: #F0ECE3;
  margin-bottom: 5%;
  border: 2px solid black;
  border-radius: 4%;
  font-size: 1.7em; }

.card {
  background-color: #171b1f3d;
  width: 90%;
  height: 90%;
  border-radius: 2%;
  border: 8px solid #00000065;
  box-shadow: 5px 8px 12px black;
  margin: 7%; }

.card__tittle {
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: #2a323b3a;
  color: #F0ECE3;
  height: 2.0em;
  padding: 2%;
  border: 2px solid black;
  border-radius: 1%; }

.card-text, .index__titulo, .card__row, .subtitulos, .card__tittle, .carrito, #h2contacto, #exclusividad, #maison, #prox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

.carrito {
  margin-bottom: 5.2%;
  width: 70%;
  padding: 1%;
  text-decoration: none;
  background-color: #171b1f3d; }

/*------------------------------------- FOOTER -------------------------------------*/
footer {
  background: #596E79;
  min-height: 100px; }
  footer p {
    color: #F0ECE3;
    text-align: center; }

#iconos i {
  background-color: #F0ECE3;
  font-size: 1.5em;
  padding: 0 8px;
  border-radius: 15%; }

/*------------------------------------- CONTACTO -------------------------------------*/
#h2contacto {
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: #2a323b3a;
  color: #F0ECE3;
  height: 2.0em;
  padding: 2%;
  border: 2px solid black;
  border-radius: 1%; }

.contacto__text, .contacto__form {
  font-size: 1.2em;
  border: 3px solid #596E79;
  background-color: #596E79;
  color: #F0ECE3;
  padding: 2%; }

.contacto__form {
  margin-top: 5%;
  width: 90%;
  border-radius: 4%; }

a i {
  color: #596E79; }

.checkbox {
  margin-top: 0.4%; }

/*------------------------------------- ID -------------------------------------*/
#exclusividad {
  padding: 12%;
  background-color: #596E79;
  color: #F0ECE3;
  height: 4em; }

#maison {
  padding: 10%;
  font-size: 4em;
  background-color: #fff;
  color: #596E79;
  border: 4px solid #596E79;
  height: 4.2em;
  visibility: hidden;
  transition-duration: 100s; }

#prox {
  padding: 1.5%;
  margin: 2%; }

.carrito-text {
  padding: 2%;
  border-radius: 1px;
  box-shadow: 5px 8px 12px black;
  background-color: #596E79;
  color: #F0ECE3; }

/*------------------------------------- CONTACTO -------------------------------------*/
