/*------------------------------------- IMPORTS -------------------------------------*/
/*------------------------------------- FUENTES ---------------------------------------*/
* {
  font-family: 'Nunito', sans-serif; }

/*------------------------------------- COLORES -------------------------------------*/
/*------------------------------ COLORES ------------------------------*/
/*---------------- HOVERS -------------------- */
@media (hover: hover) {
  .nav-item:hover {
    transform: scale(1.001); }
  .dropdown-item:hover {
    background-color: #596E79;
    border: 3px solid black;
    transform: scale(1.02); }
  .col-lg-6:hover, .index__card:hover, .card:hover, .logo:hover {
    transform: scale(1.02);
    transition-duration: inherit; }
  .contacto__lema:hover #maison {
    visibility: visible; }
  .form-group:hover {
    transform: scale(1.05);
    transition: all; }
  .imgIndex2:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transition-duration: 4s; }
  .navbar-toggler:hover {
    border: 3px solid black;
    transform: scale(1.2); }
  .carrito-text:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transition-duration: 6s; } }

/*------------------------------------- MEDIA Q -------------------------------------*/
@media (min-width: 992px) {
  .logo {
    width: 12%; }
  .card {
    height: 40em; }
  .carrito {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center; } }

@media (min-width: 574px) {
  .imgIndex2 {
    height: 490px;
    margin: 5%; }
  .card__tittle {
    margin-bottom: 2%; }
  .index__card {
    height: 490px;
    margin: 5%; } }

/*-------------------------------------HEAD-------------------------------------*/
.navbar {
  background-color: #596E79;
  position: relative; }

.navbar-toggler {
  background-color: #fff; }

.navbar-brand {
  width: 60%; }

.offcanvas-body {
  color: #F0ECE3;
  background-color: #F0ECE3; }

.offcanvas-header {
  color: #F0ECE3;
  background-color: #596E79; }

.dropdown-menu {
  background-color: #DDDDDD;
  border: 1.2px solid black; }

.nav-item {
  font-weight: 1700;
  background-color: #596E79;
  border: 1px solid black;
  border-radius: 1%;
  padding: 2.5%;
  margin: 1.3%; }

.nav-link {
  color: #F0ECE3 !important; }

/*------------------------------------- LOGO -------------------------------------*/
.logo {
  width: 20%; }

/*------------------------------------- INDEX -------------------------------------*/
.index__titulo {
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: #2a323b3a;
  color: #F0ECE3;
  height: 2.0em;
  padding: 2%;
  border: 2px solid black;
  border-radius: 1%; }

.imgIndex2 {
  margin-top: 6%;
  border-radius: 4px;
  border: 12px solid #596E79;
  box-shadow: 5px 8px 12px black; }

.index__img {
  margin-top: 3%;
  border-radius: 4px;
  border: 12px solid #596E79;
  border-style: double;
  box-shadow: 5px 8px 12px black; }

.index__boton {
  display: flex; }

.index__txt {
  text-decoration: none;
  color: #596E79;
  margin: 3%; }

.index__card {
  width: 83%;
  height: 83%;
  margin: 3%;
  margin-bottom: 4%;
  padding: 10%;
  background-color: #f0ece3;
  border-radius: 3%; }

/*------------------------------------- PRODUCTOS -------------------------------------*/
.row {
  margin-left: 5%;
  --bs-gutter-x:0; }

.subtitulos {
  background-color: #596E79;
  color: #F0ECE3;
  margin-bottom: 5%;
  border: 2px solid black;
  border-radius: 4%;
  font-size: 1.7em; }

.card {
  background-color: #171b1f3d;
  width: 90%;
  height: 90%;
  border-radius: 4%;
  border: 8px solid #00000065;
  box-shadow: 5px 8px 12px black;
  margin: 3%; }

.card__tittle {
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: #2a323b3a;
  color: #F0ECE3;
  height: 2.0em;
  padding: 2%;
  border: 2px solid black;
  border-radius: 1%; }

.card-text, .index__titulo, .index__txt, .subtitulos, .card__tittle, .carrito, #h2contacto, #exclusividad, #maison, #prox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

.carrito {
  margin-bottom: 5.2%;
  width: 100%;
  padding: 2%;
  text-decoration: none;
  background-color: #171b1f3d; }

/*------------------------------------- FOOTER -------------------------------------*/
footer {
  background: #596E79;
  min-height: 100px;
  margin-top: 3%; }
  footer p {
    color: #F0ECE3;
    text-align: center; }

#iconos i {
  background-color: #F0ECE3;
  font-size: 1.5em;
  padding: 0 8px;
  border-radius: 15%; }

/*------------------------------------- CONTACTO -------------------------------------*/
#h2contacto {
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: #2a323b3a;
  color: #F0ECE3;
  height: 2.0em;
  padding: 2%;
  border: 2px solid black;
  border-radius: 1%; }

.contacto__text, .contacto__form {
  font-size: 1.2em;
  border: 3px solid #596E79;
  background-color: #596E79;
  color: #F0ECE3;
  padding: 2%; }

.contacto__form {
  margin-top: 5%;
  width: 90%;
  border-radius: 4%; }

a i {
  color: #596E79; }

.checkbox {
  margin-top: 0.4%; }

/*------------------------------------- ID -------------------------------------*/
#exclusividad {
  padding: 12%;
  background-color: #596E79;
  color: #F0ECE3;
  height: 4em; }

#maison {
  padding: 10%;
  font-size: 4em;
  background-color: #fff;
  color: #596E79;
  border: 4px solid #596E79;
  height: 4.2em;
  visibility: hidden;
  transition-duration: 100s; }

#prox {
  padding: 1.5%;
  margin: 2%; }

.carrito-text {
  padding: 2%;
  border-radius: 1px;
  box-shadow: 5px 8px 12px black;
  background-color: #596E79;
  color: #F0ECE3; }

/*------------------------------------- CONTACTO -------------------------------------*/
