/*FUENTES*/
* {
  font-family: 'Nunito', sans-serif; }

/* COLORES*/
.col-12 {
  background-color: #F7E9D7; }

section {
  background-color: #F7E9D7; }

body {
  background-color: #F7E9D7; }

/*LOGO*/
.logo {
  width: 20%; }

/*MEDIA Q */
@media (min-width: 992px) {
  .logo {
    width: 12%; }
  .card {
    height: 35em; }
  .carrito {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center; } }

@media (min-width:765px){
  .imgIndex2{
    margin: 5%;
  }
}


/*HEAD*/
.navbar {
  background-color: #303841;
  position: relative; }

.navbar-toggler {
  background-color: #F7E9D7; }

.navbar-brand {
  width: 60%; }

.offcanvas-body {
  color: #F7E9D7;
  background-color: #F7E9D7; }

.offcanvas-header {
  color: #F7E9D7;
  background-color: #303841; }

.dropdown-menu {
  background-color: #F7E9D7; }

.nav-item {
  font-weight: 1700;
  background-color: #2a323b3a;
  border: 1px solid black;
  border-radius: 6%;
  padding: 2.5%;
  margin: 1.3%; }

.nav-item:hover {
  transform: scale(1.001); }

.dropdown-menu {
  background-color: #2a323b3a;
  border: 1px solid black; }

.dropdown-item:hover {
  background-color: #2a323b3a;
  border: 2px solid black;
  transform: scale(1.02); }

/* INDEX*/

.index__titulo {
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: #2a323b3a;
  color: #303841;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 1%;}

  .imgIndex2{
    margin-top:3%;
    border: 12px solid #303841;
    border-radius: 4px;
  }
  .imgIndex:hover{
    transform: scale(1.09);
    transition-duration: 0.3
  }
  
  .imgIndex{
    margin-top:3%;
    border-radius: 4px;
    border: 12px solid #303841;
  }
  .imgIndex2:hover{
    transform: scale(1.09);
    transition-duration: 0.3s;
  }

  .indexSecciones{
    margin: 1%;
  } 

/*PRODUCTOS*/
.subtitulos {
  background-color: #2a323b3a;
  color: #303841;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  border: 2px solid black;
  border-radius: 4%;
  font-size: 1.7em; }

.card {
 
  background-color: #171b1f3d;
  width: 90%;
  height: 90%;
  border-radius: 4%;
  border: 8px solid #00000065;
  margin: 3%; }
  .card:hover {
    transform: scale(1.03);
    transition-duration: inherit; }

.card__tittle {
  margin-top: 5%;
  background-color: #2a323b3a;
  color: #303841;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 1%;}

.card-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

.carrito {
  background-color: #303841;
  color: #303841;
  display: flex;
  align-items: center; }

/*FOOTER*/
footer {
  background: #303841;
  min-height: 100px;
  margin-top: 3%; }
  footer p {
    color: #F7E9D7;
    text-align: center; }

#iconos i {
  background-color: #F7E9D7;
  font-size: 1.5em;
  padding: 0 8px;
  border-radius: 15%; }

/* CONTACTO*/
#h2contacto {
  font-size: 3em;
  display: flex;
  justify-content: center;
  margin-bottom: 3%; 
  font-weight: bolder;
   }


.contacto__text {
  font-size: 1.2em;
  border: 3px solid #303841;
  background-color: #303841;
  color: #F7E9D7;
  padding: 2%; }

.contacto__form {
  width: 90%;
  border-radius: 4%;
  border: 3px solid #303841;
  background-color: #303841;
  color: #F7E9D7;
  padding: 2%; }

.contacto__lema:hover #maison {
  visibility: visible; }

.form-group:hover {
  transform: scale(1.05);
  transition: all; }

/*ID*/
#exclusividad {
  padding: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303841;
  color: #F7E9D7;
  height: 4em; }

#maison {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
  font-size: 4em;
  background-color: #fff;
  color: #303841;
  border: 4px solid #303841;
  height: 4.2em;
  visibility: hidden;
  transition-duration: 100s; }

#prox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5%;
  margin: 2%;
}

