
      /*FUENTES*/
      
html{
    font-family: 'Nunito', sans-serif; }

    /* COLORES*/

  .col-12 {
    background-color: $colorS; }
  
  section {
    background-color: $colorS; }
  
  body {
    background-color: $colorS; }
  
  /*LOGO*/
  .logo {
    width: 20%; }
  
