/*CAROUSEL*/

.carrousell{
    align-items: center;
    width: 70%;
    border-radius: 1%;
    border: 3px solid $fondofume;
   }
   
   .carousel-inner:hover{ 
    transform: scale(1.1);
    transition-duration: 2s;
   }
   
   .container{
    margin-top :17%;
   }
   
   .row{
    --bs-gutter-x:0rem;
   }
   
   .link{
    color:$colorpaleta;
    background-color:$fondofume;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 6px;
   
    
   }