/*CAROUSEL*/

.carrousell {
    width: 30em;
    height: 30em;
    border-radius: 1%;
    border: 14px solid $ColorCf2; }
  
  .carousel-inner:hover {
    transform: scale(1.02);
    transition-duration: inherit; }
  
  .row {
    --bs-gutter-x:0rem; }
  
  .link {
    color: $colorS;
    background-color: $ColorCf2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 6px; }
  
  .link:hover {
    transform: scale(1.3);
    background-color: $colorP; }
  