/* COLORES*/
.col-12{
    background-color: $colorpaleta;
   }
   section{
    background-color: $colorpaleta;
   }
   body{
    background-color: $colorpaleta; 
   }

   .card{
       background-color:$blanco ;
   }