/* CONTACTO*/

h2{
    font-size: 3em;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
   }
   article{
    border: 3px solid $colorazul;
   }
   .contacto__text{
    font-size: 1.2em;
      border: 3px solid $colorazul;
      background-color: $colorazul;
      color: $colorpaleta;
      padding: 2%;
   
    }
   
   .contacto__form{
      border-radius: 4%;
      border: 3px solid $colorazul;
      background-color: $colorazul;
      color: $colorpaleta;
      padding: 2%;
    }
   
    .contacto__lema:hover #maison {
      visibility: visible;
    
    }
    
    /*ID*/
   #exclusividad{
    padding: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colorazul;
    color: $colorpaleta;
    height: 4em;
   }
   
   #maison{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    font-size: 4em;
    background-color: $blanco;
    color: $colorazul;
    border: 4px solid $colorazul;
    height: 4.2em;
    visibility: hidden;
    transition-duration:100s
   
   }
   