/*------------------------------------- FUENTES ---------------------------------------*/
*{
  font-family: 'Nunito', sans-serif; 
}
 
/*------------------------------------- COLORES -------------------------------------*/
