/*------------------------------------- FUENTES ---------------------------------------*/
*{
  font-family: 'Nunito', sans-serif; 
}
 
/*------------------------------------- COLORES -------------------------------------*/
  
.col-12 {
  background: $gradiente;
}
  
section {
  @extend .col-12;
}
  
body {
  @extend .col-12;
}

