 /*FOOTER*/

 footer {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
    background: $colorP;
    min-height: 100px;
    margin-top: 3%; 
         p {
        color: #F7E9D7;
        text-align: center; }
    }
  
  #iconos i {
    background-color:$colorS;
    font-size: 1.5em;
    padding: 0 8px;
    border-radius: 15%; }