/*FOOTER*/

footer {
    background:$colorazul;
    min-height: 100px;;
    margin-top: 3%;

        p{
            color:$colorpaleta;
            text-align:center;
        }
 
}

#iconos  i {
 background-color:$colorpaleta;
 font-size: 1.5em;
 padding: 0 8px;
 border-radius: 15%;
}