 /*------------------------------------- FOOTER -------------------------------------*/
  
footer {
  background: $azul ;
  min-height: 100px; 
     p {
      color: $pastel;
      text-align: center; 
    }
}
  
#iconos i {
  background-color: $pastel;
  font-size: 1.5em;
  padding: 0 8px;
  border-radius: 15%; 
}
  