/*------------------------------------- FUENTES ---------------------------------------*/
*{
  font-family: 'Nunito', sans-serif; 
}

@keyframes cambio {
  0% {margin-left: 0;}
  25% {margin-left: 0;}

  30% {margin-left:-100%;}
  50% {margin-left: -100%;}

  75% {margin-left: -200%;}
  100% {margin-left: -200%;}
}
/*------------------------------------- COLORES -------------------------------------*/
