/*-------------------------------------HEAD-------------------------------------*/
  
.navbar {
  background-color: $azul ;
  position: relative; 
}
  
.navbar-toggler {
  background-color:$pastel;
  color: black;
}
  
.navbar-brand {
  width: 60%;
}
  
.offcanvas-body {
  color: $pastel;
  background-color:$pastel;
}

.offcanvas-header {
  color: $pastel;
  background-color: $azul ; 
}
  
.dropdown-menu {
  background-color:#DDDDDD;
  border: 1.2px solid black;
}
  
    
.nav-item {
  font-weight: 1700;
  background-color: $azul ;
  border: 1px solid black;
  border-radius: 1%;
  padding: 2.5%;
  margin: 1.3%;
}
  
.nav-link{
  color: $pastel !important;
}
 
/*------------------------------------- LOGO -------------------------------------*/
  
.logo {
  width: 10%;
}