/*HEAD*/
.navbar{
    background-color: $colorazul;
    position:relative
}
   .navbar-toggler{ 
    background-color: $colorpaleta;
   }
   
   .navbar-brand{
    width: 60%;
   }
   
   .offcanvas-header{
    color: $colorpaleta;
    background-color:$colorazul;
   
   }
   
   .offcanvas-body{
    @extend .offcanvas-header;
     font-weight: 700;
    }
   
   .dropdown-menu {
    background-color: $colorpaleta;
   }
   