/*---------------- HOVERS -------------------- */
  
@media (hover:hover){
  .nav-item:hover {
    transform: scale(1.001); 
  }
  
  .dropdown-item:hover {
    background-color: $azul ;
    border: 3px solid black;
    transform: scale(1.02);
  }


  .contacto__lema:hover #maison {
    visibility: visible;
  }
      
  .form-group:hover {
    transform: scale(1.05);
    transition: all; 
  }
    
  .card:hover{
    transform: scale(1.02);
  }
  
  .navbar-toggler:hover{ 
    border: 3px solid black;
    transform: scale(1.2);
  }
  
  .logo:hover{
   @extend .card:hover;
  }
  
  .carrito-text:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg); 
    -moz-transform: rotate(360deg);
    transition-duration: 6s;
    
  }

  .button:hover{
    transform: scale(1.4);
    transition-duration: 0s;
    border: 3px solid $pastel;
    
  }
  .boton:hover{
    transform:scale(1.09);
    background-color: $pastel;
    color: $azul;

  }
  .carrito:hover{
    transform: scale(1.05);
    transition: all;
    background-color: $pastel;
  }
}