/*------------------------------------- ID -------------------------------------*/
  
#exclusividad {
  padding: 12%;
  @extend .card-text;
  background-color: $azul ;
  color: $pastel;
  height: 4em; 
}
  
#maison {
  @extend .card-text;
  padding: 10%;
  font-size: 4em;
  background-color: $blanco;
  color: $azul ;
  border: 4px solid $azul ;
  height: 4.2em;
  visibility: hidden;
  transition-duration: 100s; 
}
  
#prox{
  @extend .card-text;
  padding: 1.5%;
  margin: 2%;
}

.carrito-text{
padding: 2%;
border-radius:  1px;
box-shadow: 5px 8px 12px black;
background-color: $azul;
color: $pastel;
}