 /*------------------------------------- INDEX -------------------------------------*/
  
.index__titulo {
  @extend .card-text;
  font-family: $titulos;
  background-color: $pastel;
  color: #2a323b6e;
  font-size: 2.0em;
  font-weight: 700;
  height: 2.3em;
  padding: 1%;
  border: 2px solid black;
  border-radius: 1%;
  margin: 0%;
}
 /*-----------------CARROUSSEL--------------------*/

.carrousell__container{
  width: 100%;
  margin: auto;
  overflow: hidden;
  background: $gradiente; 
  padding: 2%;
  ul{ 
    display: flex;
    padding: 0;
    width: 300%;
    
    animation: cambio 20s infinite;
    animation-direction: alternate;

  }
  li{
    width: 100%;
    list-style: none;
  }
  img{
    margin: 3%;
    width: 35%;
    border-radius:2%;
    border: 1px solid black;
    box-shadow: 5px 8px 12px black;
  }
/*----------------- BOTON CARROUSSEL--------------------*/
  .button{
    margin: 2%;
    font-size: 1.5em;
    background-color: $pastel;
    color: black;
    height:100% ;
  }
}


 /*-----------------CARD INDEX--------------------*/
 .aside_container{
  background-color: $pastel;
  padding: 2%;
}

.card__container{
  width: 22rem !important;
}

.card__text{
  padding: 2%;
  margin: 2%;
  color: $azul;
}

.card__row{
  @extend .card-text;
  --bs-gutter-x:0;
}

.card__body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__img{
  margin-top: 2%;
  --bs-gbs-gutter-x:0% !important;
}


.boton{
  margin: 3%;
}

