 /*------------------------------------- INDEX -------------------------------------*/
  
.index__titulo {
  @extend .card-text;
  background-color: #2a323b3a;
  color: $pastel ;
  height: 3.0em;
  padding: 2%;
  border: 2px solid black;
  border-radius: 1%;
  margin-top: 1%;
  margin-bottom:1%;
}
 /*-----------------CARROUSSEL--------------------*/
.carrousell__container{
  width: 100%;
  margin: auto;
  overflow: hidden;
  background-color: $azul;
  padding: 2%;
  
  ul{ 
    display: flex;
    padding: 0;
    width: 300%;
    
    animation: cambio 20s infinite;
    animation-direction: alternate;

  }
  li{
    width: 100%;
    list-style: none;
  }
  img{
    margin: 3%;
    width: 35%;
    border-radius:2%;
    border: 1px solid black;
    box-shadow: 5px 8px 12px black;
  }

  .index__button{
    background-color: $pastel;
    color: black;
    height:100% ;
  }
  .button{
    background-color: $pastel;
    color: $azul;
    font-size: 1.2rem;
    margin: 3%;

  }
}

 /*-----------------CARD INDEX--------------------*/
.aside_container{
  background-color: $pastel;
  padding: 2%;
}

.card__text{
  padding: 2%;
  margin: 2%;
  color: $azul;
}

.card__row{
  @extend .card-text;
  --bs-gutter-x:0;
}
