 /*------------------------------------- INDEX -------------------------------------*/
  
 .index__titulo {
  @extend .card-text;
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: #2a323b3a;
  color: $pastel ;
  height: 2.0em;
  padding: 2%;
  border: 2px solid black;
  border-radius: 1%;
}
  
.imgIndex2{
  margin-top: 6%;
  border-radius: 4px;
  border: 12px solid $azul;
  box-shadow: 5px 8px 12px black;
}

.index__img{
  margin-top:3%;
  border-radius: 4px;
  border: 12px solid $azul;
  border-style:double;
  box-shadow: 5px 8px 12px black;
}
  
.index__boton{
  display: flex;
}
  
.index__txt{
  @extend .card-text;
  text-decoration: none;
  color: $azul;
  margin: 3%;
}
  
.index__card{
  
  width:83%;
  height: 83%;
  margin: 3%;
  margin-bottom: 4%;
  padding: 10%;
  background-color: #f0ece3;
  border-radius: 3%;
}
