/* INDEX*/
.index__titulos{
    background-color:$blanco;
    color:$colorazul;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    border: 2px solid $blanco;
    border-radius: 5%;
   
   }
   
   .index__row{
    display: flex;
    justify-content: center;
    align-items: center;
 }