 /*PRODUCTOS*/
    
 .subtitulos {
    background-color: $colorCf2;
    color: $colorP;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    border: 2px solid black;
    border-radius: 4%;
    font-size: 1.7em; }

  .card {
    background-color: $colorCf1;
    width:90%;
    height: 90%;
    border-radius: 4%;
    border: 13px solid $bordercardf;
    margin: 3%; 
        &:hover {
        transform: scale(1.03);
        transition-duration: inherit; }
    }

  .card__tittle {
    display: flex;
    background-color: $colorCf1;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: $colorP;
    margin-top:7%;
  border-radius: 2%; }
  
  .card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
  
  .carrito {
    background-color: $colorP;
    color: $colorP;
    display: flex;
    align-items: center; }