 /*------------------------------------- PRODUCTOS -------------------------------------*/

.main__container{
  background: $gradiente !important;
}

.card__container{
  margin:1%;
}

.card {
  background-color: $pastel;
  width: 90%;
  height: 90%;
  border-radius:3.5%;
  border: 8px solid #00000065;
  box-shadow: 5px 8px 12px black;
  margin: 7%; 
}
    
.card__tittle {
  @extend .index__titulo;
  @extend .card-text;
  margin: 0%;
}
  
.card-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 
}
  
.carrito {
  @extend .card-text;
  margin:6%;
  width: 70%;
  font-size: 1.2em;
  padding: 4%;
  background-color: #171b1f3d;
  color: black;
  border-radius:4%;
}
