/*PRODUCTOS*/

.card{
    width: 20em;
    border-radius: 4%;
    border: 8px solid $fondofume;
    margin: 10%;
   }
   .card:hover{
    transform: scale(1.2);
    transition-duration: 1.2s;
   }
   .card__tittle{
    background-color:$blanco;
    color:$fondofume;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4%;
    margin-bottom: 0%;
    border-radius: 4%;
   }
   
   .card-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
   
   }
   
   
   .carrito{
    background-color:$colorazul;
    color:$colorpaleta;
    display: flex;
    align-items: center;
    
   }
   