 /*------------------------------------- PRODUCTOS -------------------------------------*/
 .row{
    margin-left: 5%;
    --bs-gutter-x:0;
  }
  
  .subtitulos {
    background-color: $azul ;
    color:  $pastel ;
    @extend .card-text;
    margin-bottom: 5%;
    border: 2px solid black;
    border-radius: 4%;
    font-size: 1.7em; 
  }
  
  .card {
    background-color: #171b1f3d;
    width: 90%;
    height: 90%;
    border-radius: 2%;
    border: 8px solid #00000065;
    box-shadow: 5px 8px 12px black;
    margin: 7%; 
  }
    
  .card__tittle {
    margin-top: 5%;
    margin-bottom: 2%;
    background-color: #2a323b3a;
    color: $pastel ;
    @extend .card-text;
    height: 2.0em;
    padding: 2%;
    border: 2px solid black;
    border-radius: 1%;
  }
  
  .card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
  }
  
  .carrito {
    @extend .card-text;
    margin-bottom: 5.2%; 
    width: 70%;
    padding: 1%;
    text-decoration: none;
    background-color: #171b1f3d;
  }