/*------------------------------ COLORES ------------------------------*/

$azul: #596E79;
$blanco:#fff;
$pastel:#F0ECE3;
$gradiente: linear-gradient(90deg, rgba(89,110,121,1) 22%, rgba(68,68,68,1) 100%, rgba(0,0,0,1) 100%);

/*------------------------------ FUENTES ------------------------------*/

$titulos: 'Montserrat', sans-serif;
$secundaria: 'Nunito', sans-serif; 