  /*------------------------------------- CONTACTO -------------------------------------*/
  
  
  #h2contacto {
    @extend .index__titulo;
  }
  
  
  .contacto__text {
    font-size: 1.2em;
    border: 3px solid $azul ;
    background-color: $azul ;
    color: $pastel;
    padding: 2%;
    margin: 0% 
  }
  
  .contacto__form {
    @extend .contacto__text;
    margin:3%;
    border-radius: 1%;
  }

  .contacto__lema{
    margin: 1%;
  }
  
  a i {
    color: $azul
  }
  
  .checkbox{
    margin-top: 0.4%;
  }