  /*------------------------------------- CONTACTO -------------------------------------*/
  
  
#h2contacto {
    @extend .index__titulo;
}
  
  
.contacto__text {
  font-size: 1.2em;
  border: 3px solid $azul ;
  background-color: $azul ;
  color: $pastel;
  padding: 2%;
}

.contacto__lema{
  justify-content: center;
  padding: 3%;
  background-color: $pastel;
}

.contacto__container{
 background: $pastel;
 padding: 2%;
}

.contacto__form {
  @extend .contacto__text;
  font-size: 1.0em;
  margin:3%;
  border-radius: 1%;
 margin: auto;
}

a i {
  color: $azul
}

.checkbox{
  margin-top: 0.4%;
}
 