/*------------------------------------- IMPORTS -------------------------------------*/

@import "./variables";
@import"./hovers";
@import"./mediaq";
@import "./general";
@import"id.scss";
@import "./head";
@import "./index";
@import"./productos";
@import"./footer";
@import"contacto";


/*------------------------------------- CONTACTO -------------------------------------*/