/*------------------------------------- IMPORTS -------------------------------------*/

@import "./fontsandcolors";
@import "./variables";
@import"./hovers";
@import"./mediaq";
@import "./head";
@import "./index";
@import"./productos";
@import"./footer";
@import"contacto";
@import"id.scss";

/*------------------------------------- CONTACTO -------------------------------------*/